<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>moonmac-vibe</string>
	<key>CFBundleDisplayName</key>
	<string>MoonMac Vibe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 SkyHua and contributors</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to capture microphone audio for streaming to the host.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Moonmac-Vibe uses your local network to discover and connect to game streaming hosts.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_nvstream._tcp</string>
	</array>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Used to capture high-rate mouse input for low-latency streaming controls.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.th3d3ck3r.moonmac-vibe.AwdlPrivilegedHelper</key>
		<string>identifier &quot;$(PRODUCT_BUNDLE_IDENTIFIER).AwdlPrivilegedHelper&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;$(EXPANDED_CODE_SIGN_IDENTITY_NAME)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] exists</string>
	</dict>
</dict>
</plist>
